.members-container{
  margin-left: 40%;
  margin-top: 60px;
  width: 500px;
  ;

}

.members-container .member{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  margin-bottom: 10px;
}

.members-container .row .col-md-3{
  text-align: center;
}

.members-container .row .col-md-3 .text{
  width: 100px;
}

.members-container .row .col-md-3 .text p{
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  font-size: 0.7em;
}

.members-container .member img {
  width: 100%;
  height: auto;
}


@media (max-width: 500px) {
  .text-center{
    padding: 5%;
    margin-top: 30px;
  }
  .members-container{
    margin: 0 auto;
    margin-top: 60px;
    width: 90%;
  }

  .members-container .member{
    float: left;
  }

  .members-container .row .col-md-3 .text{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
  }

}
